# 在config目录下创建.env文件，将该文件内容拷贝到.env文件中，然后修改里面的内容
DB_HOST=db # 不用改
DB_PORT=3306 # 不用改
DB_NAME=scut_helper # 不用改
DB_USER=app_user # 不用改
DB_PASSWORD=your_real_password_here # 数据库密码，可以自己设置一个
DB_CHARSET=utf8mb4 # 不用改

#QQ邮箱配置
SMTP_HOST = smtp.qq.com       # SMTP服务器地址，不用改
SMTP_PORT = 465                 # SMTP端口（SSL加密），不用改
SMTP_USER = 你的邮箱账号@qq.com # 发件人邮箱，可以改成自己的邮箱
SMTP_PASS = 你的邮箱SMTP授权码  # 邮箱SMTP授权码（非登录密码），上网查一下怎么获取
SENDER_NAME = 鲤工助手    # 发件人显示名称，不用改

# JWT_SECRET_KEY 为JWT密钥，请自行修改
JWT_SECRET_KEY=your_jwt_secret_key_here # 可以自己设置一个，建议使用随机字符串

#HTTPS配置，注意！两个pem文件放在/scut_helper/backend/ssl文件夹下
SSL_KEYFILE = ./ssl/key.pem  # 密钥文件，不用改
SSL_CERTFILE = ./ssl/cert.pem # 证书文件，不用改
PORT = 8443 # 端口号，不用改
